#date {
    text-align:right;
    font-size: normal;
    color : #254898;
    margin : -30px 0 10px 20px;
}

.frame {
    margin: 5px 0;
    display : inline-block;
    vertical-align: top;
    width: 250px;
    max-height: 50vh;
    overflow-y : auto;
    overflow-x : hidden;
}

.framePdf {
    display : inline-block;
    vertical-align: top;
    width: 24.7%;
}

.box {
    border: 2px solid #A1C0FB;
    border-radius: 5px;
    margin: 10px 0 10px 10px;
    padding: 10px 5px 5px 5px;
    page-break-inside:avoid;
}

.title {
    position : relative ;
    margin : -21px 0 0 10px;
    padding: 0 5px -5px 5px;
    float : left ;
    color : #254898;
    font-weight: bold;
    font-size: normal;
    background : #FFFFFF ;
    max-width: 77%;
    overflow:hidden;
    white-space: nowrap;
}

.number {
    position : relative ;
    margin : -20px 0 -10px 200px;
    padding: 0 5px 0px 5px;
    float : left ;
    color : #254898;
    background : #FFFFFF;
    font-size: 9pt;
}

.name {
    font-weight: normal;
    /*font-variant: petite-caps;*/
    text-transform: uppercase;
    font-size: normal; /*large;*/
}

.firstN {
    font-weight: normal;
    font-size: normal;
    margin: 0 0 0 5px;
}

.student {
    text-align:left;
    line-height:20pt;
    width: 100%;
    cursor:pointer;
}

.grade {
    font-weight: normal;
    font-size: 10pt;
    text-align:right;
    color : #254898;
    width: 5px;
}

div.box table {
    border-collapse:collapse;
}

/* Le fond bleu clair ne sera appliqué que sur les lignes paires ! */
.ligne:nth-child(even) {
    background:#C3E2FF;
}


